<div class="navbar navbar-inverse">
    <div ng-include="'views/navbar-header.html'"></div>

</div>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Project Name</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="project in allProjects">
        <td>{{project}}
            <a href="#/projects/{{project}}" class="btn btn-primary btn-sm">View</a>
        </td>
        <td>{{project}}
            <a href="#/projects/{{project}}" class="btn btn-primary btn-sm">View</a>
        </td>
    </tr>
    </tbody>
</table>
