<div ng-include="'views/navbar-header.html'"></div>

<div class="navbar navbar-inverse">
    <div class="navbar-brand">All Projects</div>
</div>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Project Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in allProjects">
        <td ng-if="$odd" class="info">{{project.Name}}
            <a href="#projects/{{project.Id}}" class="btn btn-primary btn-sm">View</a>
        </td>
        <td ng-if="$even" class="success">{{project.Name}}
            <a href="#projects/{{project.Id}}" class="btn btn-primary btn-sm">View</a>
        </td>
    </tr>
    </tbody>
</table>
