<div ng-include="'views/navbar-header.html'"></div>

<section class="container register">
    <div class="well bs-component col-lg-9 col-lg-offset-1 form">
        <form class="form-horizontal" ng-controller="AuthenticationController" ng-init="userData()">
            <fieldset>
                <legend>Change Password</legend>
                <div class="form-group ">
                    <label for="old-password" class="col-lg-3 control-label">Old Password:</label>
                    <div class="col-lg-8">
                        <input type="password"
                               class="form-control"
                               id="old-password"
                               placeholder="Old Password"
                               ng-model="userData.oldPassword">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="new-password" class="col-lg-3 control-label">New Password:</label>
                    <div class="col-lg-8">
                        <input type="password"
                               class="form-control"
                               id="new-password"
                               placeholder="New Password"
                               ng-model="userData.newPassword">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="confirm-password" class="col-lg-3 control-label">Confirm Password:</label>
                    <div class="col-lg-8">
                        <input type="password"
                               class="form-control"
                               id="confirm-password"
                               placeholder="Confirm Password"
                               ng-model="userData.confirmPassword">
                    </div>
                </div>
                <div class="form-group buttons">
                    <div class="col-lg-10 col-lg-offset-5">
                        <a href="#/" class="btn btn-default">Cancel</a>
                        <button ng-click="changePassword(userData)" type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>