<div ng-include="'views/navbar-header.html'"></div>
<main id="wrapper">
    <section class="col-lg-8 col-lg-offset-2" id="mainSection" ng-controller="AuthenticationController" ng-init="getAllUsers()">
        <!--<ul class="listSection">-->
            <!--<li ng-repeat="user in getAllUsers" class="listElement col-lg-3">-->
            <!--<div class="imageSection">-->
                <!--<a href="#/users/{{user.username}}"></a>-->
            <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <h1>Test 2</h1>
    </section>
</main>