<header class="navbar navbar-inverse navbar-fixed-top" ng-controller="AuthenticationController">
    <div class="container">
        <nav class="collapse navbar-collapse bs-navbar-collapse">

            <ul ng-if="!isLogged" class="nav navbar-nav navbar-right">
                <li><a href="#/register">Sign up</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>

            <ul ng-if="isLogged" class="nav navbar-nav navbar-right">
                <li><a href="#/dashboard-admin">Admin Dashboard</a></li>
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/projects">Projects</a></li>


                <li class="header-data" ng-init="userData()">
                    <a href="#/users/me">
                        Current User
                    </a>
                </li>

                <li class="site-logo"><a href="#/users">Users</a></li>

                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Settings <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/profile/change-password" class="change-password nav-icon">Change Password</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#/logout" ng-click="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
